name: Build and Deploy Feature artifacts

on:
  push:
    branches:    
      - 'feat/**'
      - 'feature/**'
      - 'fix/**'
      - 'next/**'

env:
  CI: true
  NODE_ENV: "develop"

jobs:
  feat-artifacts:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Test echo
        run: |
          git --no-pager diff --name-only origin/main HEAD
          git rev-list --objects --all --count

      - name: Artifacts
        run: |
          wget https://github.com/websublime/sublime-cli/releases/download/v0.1.8/sublime-v0.1.8-linux-amd64.tar.gz
          tar -xf sublime-v0.1.8-linux-amd64.tar.gz sublime
          chmod +x sublime
          ./sublime action --type branch --env "$NODE_ENV"

      - name: Setup CI Git User
        run: |
          git config --global user.name "miguelramos"
          git config --global user.email "miguel.ramos@websublime.dev"
          cat << EOF > "$HOME/.npmrc"
            //npm.pkg.github.com/:_authToken=$GITHUB_TOKEN
            @websublime:registry=https://npm.pkg.github.com
          EOF
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Create Snapshot
        uses: changesets/action@v1
        with:
          version: yarn changeset version --snapshot SNAPSHOT
          publish: changeset publish --no-git-tag --snapshot
          title: "chore(snapshot): Packages snapshots"
          commit: "chore(snapshot): releasing snapshot preview"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.GH_TOKEN }}
